<ion-tabs mode="ios">

  <ion-tab-bar mode="ios" slot="posicion">
    <ion-tab-button mode="ios" tab="tab1">
      <ion-icon mode=ios name="checkmark-circle"></ion-icon>
      <ion-label>Disponibles</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="tab2">
      <ion-icon mode=ios name="apps"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="tab3">
      <ion-icon mode=ios name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="tab4">
      <ion-icon mode=ios name="pint"></ion-icon>
      <ion-label>Visitas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
