<ion-header no-border translucent mode=ios>
  <ion-toolbar color="secondary" mode=ios>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title mode=ios>{{categor}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--<ion-card mode=ios *ngFor="let room of mostrando | async">
        <ion-img  [src]="room['imgPrincipal']"></ion-img>
        <ion-card-header mode=ios>
          <ion-card-subtitle mode=ios></ion-card-subtitle>
          <ion-card-title mode=ios><a>{{room['titulo']}}</a></ion-card-title>
        </ion-card-header>
        <ion-card-content mode=ios>
          {{room['descrip']}}
          <ion-chip mode=ios color="secondary" outline="true">
            <ion-label mode=ios>{{categor}}</ion-label>
            <ion-icon mode=ios name="bed"></ion-icon>
          </ion-chip>
        </ion-card-content>
      </ion-card>-->
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <div class="sliding">
              <ion-item-sliding mode="ios" *ngFor="let room of mostrando | async"  >
                <ion-item mode="ios">
                    <ion-grid fixed>
                        <ion-row>
                          <ion-col sizeLg="4" sizeMd="4" sizeSm="12" sizeXs="12">
                            <!--<ion-img [src]="room.imgPrincipal"></ion-img>-->
                            <ion-slides #slides pager="false" (ionSlidesDidLoad)="autoPlay(slides)" [options]="slideOpts"
                            (ionSlideTap)="autoPlay(slides)" 
                            (ionSlideDidChange)="autoPlay(slides)" class="slidess"  mode="ios" pager="ios" scrollbar="ios">
                              <ion-slide>
                                <img src="{{room.imgPrincipal}}">
                              </ion-slide>
                              <ion-slide>
                                <img src="{{room.imgScroll1}}">
                              </ion-slide>
                              <ion-slide>
                                <img src="{{room.imgScroll2}}">
                              </ion-slide>
                              <ion-slide>
                                <img src="{{room.imgScroll3}}">
                              </ion-slide>
                              <ion-slide>
                                <img src="{{room.imgScroll4}}">
                              </ion-slide>
                            </ion-slides>
                          </ion-col>
                          <ion-col sizeLg="1" sizeMd="1" sizeSm="1" sizeXs="1">
                            <!--<ion-label id="separador"></ion-label>-->
                          </ion-col>
                          <ion-col sizeLg="7" sizeMd="7" sizeSm="12" sizeXs="12">
                            <ion-row>
                              <ion-col size="12">
                                  <h5 id="titulo">{{room.titulo}}</h5>
                                  <br>
                                  <ion-label color="medium" text-wrap> {{room.descrip}} </ion-label>
                                  <ion-chip color="tertiary"  outline="true">
                                    <ion-label>{{room.categoria}}</ion-label>
                                    <ion-icon name="bed"></ion-icon>
                                  </ion-chip>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="4">
                                <br>
                                <ion-icon *ngFor="let item of [1,1,1,1,1]"  color="warning" name="star-half"></ion-icon>
                              </ion-col>
                              <ion-col size="4">
                                <p>{{room.precio24h | currency: 'USD'}}/Noche</p>
                              </ion-col>
                              <ion-col size="4">
                                  <ion-button mode="ios" (click)="cuartoModal(room)" class="ver" color="danger">
                                    Ver 
                                    <ion-icon slot="end" name="eye"></ion-icon>
                                  </ion-button>
                                  <!--<ion-button (click)="cuartoModal(room)" mode="ios" class="ver" color="secondary">
                                    Ver
                                    <ion-icon slot="end" name="eye"></ion-icon>
                                  </ion-button>-->
                                </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                </ion-item>   
                <ion-item-options mode="ios" side="end">
                    <ion-item-option mode="ios" (click)="messageDeleteFav('¿Borrar de Favoritos?', 'Esta Habitacion será eliminada de sus Favoritos', 'Cancelar', 'Aceptar', room.titulo)" color="danger">
                      <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                  </ion-item-options> 
              </ion-item-sliding>
            </div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
